!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="/send" method="post">
            <label for="email">Email</label>
            <input type="email" name="email"><br />
            <label for="subject">Subject</label>
            <input type="text" name="subject"><br />
            <label for="message">Message</label>
            <input type="text" name="message"><br />
            <input type="submit" value="Send">
        </form>
    </div>
</body>
</html>