
<nav class="navbar navbar-default">
    <a class="navbar-brand" href="#"> <img src="images/matchlogo.png" alt="LOGO" height="150" width="200"></a>
    <h3> Hello <%=username%></h3>
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
            <li id="register"><a href="/profile">myPROFILE</a></li>
            <li id="login"><a href="/chat">CHAT</a></li>
            <li id="contact"><a href="/logout">LOGOUT</a></li>
        </ul>
    </div>
    <div class="container">
        <div class="navbar-header">
        </div>
    </div>
</nav>