<!-- 
<nav class="navbar navbar-default">
    <a class="navbar-brand" href="#"> <img src="images/matchlogo.png" alt="LOGO" height="150" width="200"></a>
    <h3> Hello %=username%></h3>
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
            <li id="register"><a href="/profile">myPROFILE</a></li>
            <li id="login"><a href="/chat">CHAT</a></li>
            <li id="contact"><a href="/logout">LOGOUT</a></li>
        </ul>
    </div>
    <div class="container">
        <div class="navbar-header">
        </div>
    </div>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary" >
        <a class="navbar-brand" href="#" alt="LOGO" height="150" width="200"> <img src="images/matchlogo.png" alt="LOGO" height="100" width="150"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/profile">Profile<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/chat">Chat</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                  </li>
          
          <form class="form-inline my-2 my-lg-0" id="stalk">
            Hello <%=username%>
            <input class="form-control mr-sm-2" type="search" placeholder="age : 20 - 30" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>