<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample Site</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
   
</head>
<body id="clrblk">
        <div class="container">   
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                   
            <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title">Sign In</div>
                        <!--<div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div>-->
                    </div>    
 
                    <div style="padding-top:30px" class="panel-body" >
                        <% if (message.length > 0) { %>
                            <div class="alert alert-danger col-sm-12"><%= message %></div>
                        <% } %>
                           
                        <div class="form">
                            <form action="activated.ejs" class="" method="post">
                                <p class="message" ><h1>YAY!! Account Activated</p></h1>
                                <p>You can now login now Enjoy!!!!</p>
                                <p>you may login <a href="http://localhost:3600/index.ejs">here</a></p>
                            </form>
                        </div>
                    </div>
            </div>
    </div>
</div>
</body>
</html>
